RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=bankdocs
RABBITMQ_PASS=bankdocs123
BACKEND_QUEUE=document-events
KYC_EXCHANGE=kyc-events
LLM_WORKER_QUEUE=worker-llm-events
GATEWAY_QUEUE=gateway-document-events
RECONNECT_DELAY=5
